.toolbar {
    background: limegreen;
    color:white;
<<<<<<< HEAD
}
=======
}

.recompensa {
    float: left;
}

.recompensa img {
    float: left;
    width: 13em;
}

.info {
    float: left;
    width: 40%;
}
>>>>>>> 2eda6b93d612a9443ed1a41a2c86b339f27f0988
