<div class="main-container">
  <div class="formulario">
    <img src="../../../assets/login.png">
    <div class="formGroup">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

          <input type="email" formControlName="email" placeholder = "Correo" required>
          <br/>
          <input type="password" formControlName="password" placeholder = "Contraseña" required>

        <button type="submit" [disabled]="!loginForm.valid">Iniciar sesión</button>

      </form>
    </div>
  </div>
</div>
