:host{
  background: #54943c;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.main-container {
    height: auto;
  }

.main-container img {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

