:host{
  background: #628737;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.main-container {
    height: auto;
  }

.main-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 22em;
  width: 22em;

  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

