<mat-toolbar>
  <mat-toolbar-row>
    <span style="font-size: 28px;text-transform: uppercase;">Lista de Clases</span>
  </mat-toolbar-row>
  <mat-toolbar-row class="lista_">
    <span style="font-size: 14px;text-transform: uppercase;">Numero de Participantes <span></span></span>
  </mat-toolbar-row>
</mat-toolbar>



<div class="tabla_borde" fxLayout="row" fxLayoutAlign="center">

<div fxLayout="row" fxLayoutAlign="center" class="nombre_button">
  Nombre 
  <button mat-raised-button color="primary">TODOS</button>
  <button mat-button color="primary">A</button>
  <button mat-button color="primary">B</button>
  <button mat-button color="primary">C</button>
  <button mat-button color="primary">D</button>
 <button mat-button color="primary">E</button>
  <button mat-button color="primary">F</button>
  <button mat-button color="primary">G</button>
  <button mat-button color="primary">H</button>
  <button mat-button color="primary">I</button>
  <button mat-button color="primary">J</button>
  <button mat-button color="primary">K</button>
  <button mat-button color="primary">L</button>
  <button mat-button color="primary">M</button>
  <button mat-button color="primary">N</button>
  <button mat-button color="primary">Ñ</button>
  <button mat-button color="primary">O</button>
  <button mat-button color="primary">P</button>
  <button mat-button color="primary">Q</button>
  <button mat-button color="primary">R</button>
  <button mat-button color="primary">S</button>
  <button mat-button color="primary">T</button>
  <button mat-button color="primary">U</button>
  <button mat-button color="primary">V</button>
<button mat-button color="primary">W</button>
  <button mat-button color="primary">X</button>
  <button mat-button color="primary">Y</button>
  <button mat-button color="primary">Z</button>
</div>
<div fxLayout="row" fxLayoutAlign="center" class="nombre_button">
  Apellidos 
  <button mat-raised-button color="primary">TODOS</button>
  <button mat-button color="primary">A</button>
  <button mat-button color="primary">B</button>
  <button mat-button color="primary">C</button>
  <button mat-button color="primary">D</button>
 <button mat-button color="primary">E</button>
  <button mat-button color="primary">F</button>
  <button mat-button color="primary">G</button>
  <button mat-button color="primary">H</button>
  <button mat-button color="primary">I</button>
  <button mat-button color="primary">J</button>
  <button mat-button color="primary">K</button>
  <button mat-button color="primary">L</button>
  <button mat-button color="primary">M</button>
  <button mat-button color="primary">N</button>
  <button mat-button color="primary">Ñ</button>
  <button mat-button color="primary">O</button>
<button mat-button color="primary">P</button>
  <button mat-button color="primary">Q</button>
  <button mat-button color="primary">R</button>
  <button mat-button color="primary">S</button>
  <button mat-button color="primary">T</button>
  <button mat-button color="primary">U</button>
  <button mat-button color="primary">V</button>
<button mat-button color="primary">W</button>
  <button mat-button color="primary">X</button>
  <button mat-button color="primary">Y</button>
  <button mat-button color="primary">Z</button>
</div>


<mat-form-field class="buscador" style="float:right;">
    <mat-label>Buscar : </mat-label>
    <input matInput (keyup)="applyFilter($event)" class="input_buscador" placeholder="..." />
</mat-form-field>
  <table
    mat-table
    [dataSource]="dataSource"
    class=""
    matSort
    width="100%"
  >
    <!-- Nombre -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombres y apellidos</th>
      <td mat-cell *matCellDef="let element">
        <img class="img_table" src="../../../assets/male.png"/> 
      <div class="nombre_table">{{ element.nombre }}</div>
    </td>
    </ng-container>

    <!-- Telefono -->
    <ng-container matColumnDef="rol">
      <th mat-header-cell *matHeaderCellDef mat-mat-sort-header>Roles</th>
      <td mat-cell *matCellDef="let element">{{ element.rol }}</td>
    </ng-container>

     <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-mat-sort-header>Estado</th>
      <td mat-cell *matCellDef="let element">
        
        <button
      mat-mini-fab
      class="color_verde"
      routerLink=".">
      <mat-icon>check</mat-icon>
    </button>
      </td>
    </ng-container>
   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
