.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.is-mobile .toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

.sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.is-mobile .sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

.logo {
    margin-left: 40%;
    display: flex;
    justify-content: center;
}

.logo img {
    width: 2em;
    height: 2em;
}


/*//////////////////////////////////////cambios*/

.toolbar {
    background: #c8f098;
    height: 54px;
}

.mat-toolbar-single-row {
    padding: 0px;
}

.tamanio {
    font-size: 40px;
}

.mat-list-base {
    padding-top: 0px;
}

.mat-nav-list .mat-list-item:focus {
    background: #3a9f7f;
    color: #fff;
}

.active_toolbar {
    background: #3a9f7f;
    color: #fff;
    height: 55px !important;
}

#menu {
    background: #c8f098;
    margin-left: 1px;
}

#menu a:hover {
    background: #3a9f7f;
    color: #fff;
}

#menu a {
    border-bottom: 1px solid #97bc74;
    border-top: 1px unset #97bc74;
}

.mat-list-base .mat-list-item {
    height: 40px;
}

.mat-drawer {
    overflow-y: visible;
    height: 343px;
    width: 220px;
}

mat-nav-list {
    border-left: 1px solid #97bc74;
    border-right: 1px solid #97bc74;
}