<div class="new-post-container">
  <form [formGroup]="newTema" (ngSubmit)="addnewTemas(newTema)">
    <mat-form-field>
      <mat-label>Titulo</mat-label>
      <input matInput placeholder="Titulo del tema" formControlName="titulo" />
    </mat-form-field>
    <br />
    <mat-form-field class="contenido" appearance="fill">
      <mat-label>Contenido</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <br />
    <mat-form-field class="contenido" appearance="fill">
      <mat-label>Ejemplo</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <br />
    <!--mat-select placeholder="Tags" multiple>
        <mat-option value="">Facil</mat-option>
        <mat-option value="">Medio</mat-option>
        <mat-option value="">Dificl</mat-option>
      </mat-select-->

    <div class="container-input-file">
      <label class="custom-file">
        <input type="file" />
        <mat-icon>cloud_upload</mat-icon>
      </label>
    </div>
    <br />

    <button mat-raised-button color="primary" (click)="ejercicio()">
      Ejercicios
    </button>
    <br />
    <br />
    <div class="container-button">
      <input type="submit" class="mat-flat-button" value="Guardar" />

      <!--button mat-raised-button color="primary">GUARDAR</button-->
    </div>
  </form>
</div>
